<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Печники</title>
    <link href="/static/registration/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/registration/js/jquery-2.2.0.min.js"></script>
  </head>
  <body>
  <a href="{{request.META.HTTP_REFERER}}">Назад</a>
	{{ ovenbird.name }}
	{% if request.user.id == ovenbird.customuser_id %}
		<a href="{% url 'offsite:createobject' %}">Создать новый объект</a>
		<a href="{% url 'offsite:createarticle' %}">Создать новую статью</a>
		<a href="{% url 'offsite:showfile' %}">Добавить фотографии</a>
	{% endif %}
	<br/>
	Объекты
	<br/>
	{% for object in objects %}
	<div class="objects">
		<a href="{% url 'offsite:showobject' object.id %}">{{object.title}}</a>
		{{object.text | striptags }}
		{% if request.user.id == ovenbird.customuser_id %}
			<a id={{object.id}} href="{% url 'offsite:updateobject' object.id %}">Изменить</a>
			<a id={{object.id}} href="{% url 'offsite:showallfile' object.id %}">Добавить фотографии</a>
			<a id={{object.id}} class="delete" href="{% url 'offsite:deleteobject' object.id %}">Удалить</a>
		{% endif %}
	</div>
	{% endfor %}
	Статьи
	<br/>
	{% for article in articles %}
		<a href="{% url 'offsite:updateobject' article.id %}">{{article.title}}</a>
		{{article.text | striptags }}
		<br/>
	{% endfor %}
	<div id="results"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/static/offsite/js/main.js"></script>
  </body>
</html>