<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Печники</title>
    <link href="/static/registration/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/registration/js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/static/offsite/js/main.js"></script>
  </head>
  <body>
    {% load comments %}
    {% load vote %}
    
  	{{ object.id }}
    <br/>
    {{ object.text }}
    <br/>
    Фотографии
    <br/>
    {% for photo in photos %}
    	{{photo.title}}
    	<br/>
    	<img src="{{MEDIA_URL}}/{{photo.image}}" alt="d"/> 
    {% endfor %}
    {% if object.type == 2 %}
    <a href="{% url 'offsite:voteup' object.id %}" class="vote">Проголосовать</a>
        {{ object.votes.count }}
    <br/>
    {% endif %}
    {% get_comment_list for object as comment_list %}
	{% for comment in comment_list %}
		{{comment.name}}
    	{{comment.comment}}<br/>
	{% endfor %}
    {% if user.is_authenticated %}
    	{% get_comment_form for object as form %}
    	<form action="{% comment_form_target %}" method="POST">
    		{% csrf_token %}
    		{{ form.comment }}
    		{{ form.content_type }}
    		{{ form.object_pk }}
    		{{ form.timestamp }}
    		{{ form.security_hash }}
    		<input type="hidden" name="next" value="{% url 'offsite:showobject' object.id %}" />
    		<input type="submit" value="Add comment" id="id_submit" />
    	</form>
	{% else %}
    	<p>Please <a href="{% url 'registration:login' %}">log in</a> to leave a comment.</p>
	{% endif %}
  </body>
</html>